In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("../database/fleet.db")

df = pd.read_sql("SELECT * FROM fleet_data LIMIT 5", conn)
df

,vehicle_id,date,distance_km,fuel_liters,engine_temp,avg_speed,error_code,fuel_efficiency
0,1,2024-01-01,132.33,9.00,73.62,87.79,0,14.703333
1,1,2024-01-02,120.73,14.50,76.05,82.93,0,8.326207
2,1,2024-01-03,205.18,13.37,108.64,88.89,0,15.346298
3,1,2024-01-04,59.77,13.16,94.94,67.82,0,4.541793
4,1,2024-01-05,183.74,11.27,95.91,75.04,1,16.303461